form {}

label {
  &[for] {
    cursor: pointer;
  }
}

input {
  font: inherit;
  font-size: -1mfs;
  line-height: -1mlh;
  margin: 0;
  overflow: visible;

  &:--input-basic {
    border: 0.05vru / solid / var(--color-base);
    border-radius: 0.1vru;
    color: var(--color-text) var(--color-lite);
    padding: 0 0.2vru;
    transition:
      background-color var(--transition-duration) var(--transition-easing),
      border-color var(--transition-duration) var(--transition-easing);

    &:--enter {
      background: var(--color-back);
      border-color: var(--color-altr);
      outline: 0;
    }

    &:invalid {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0,0h24v24H0V0z"/><path fill="maroon" d="M1,21h22L12,2L1,21z M13,18h-2v-2h2V18z M13,14h-2v-4h2V14z"/></svg>');
      background-position: right 0.2vru top 0.2vru;
      background-repeat: no-repeat;
      background-size: 0.75vru;
      box-shadow: none;
      padding: * 1vru * *;
    }

    &[disabled] {
      border: 0.05vru / solid / transparent;
      border-image: none;
      box-shadow: none;
      color: var(--color-grey) var(--color-lite);
      transition: none;
    }
  }

  &[type='search'] {
    appearance: textfield;

    &::-webkit-search-decoration {
      appearance: none;
    }
  }
}

:--button {
  appearance: button;
}

.button,
:--button {
  background: var(--color-base);
  border: 0;
  border-radius: 0.1vru;
  color: var(--color-back);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0 0 0.5vru;
  overflow: visible;
  padding: 0.25vru 0.5vru;
  text-transform: none;
  transition:
    background-color var(--transition-duration) var(--transition-easing),
    box-shadow var(--transition-duration) var(--transition-easing),
    transform var(--transition-duration) var(--transition-easing);

  &::after {
    content: none;
  }

  &::-moz-focus-inner,
  &::-moz-focus-inner,
  &::-moz-focus-inner,
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:--enter {
    border: 0;
    box-shadow: 0 0.2vru 0.4vru -0.4vru var(--color-text);
    color: var(--color-back) var(--color-altr);
    outline: 0;
    transform: scale(1.05);
  }

  &:active {
    background: var(--color-text);
    transform: scale(0.95);
  }

  &[disabled] {
    box-shadow: none;
    color: var(--color-grey) var(--color-lite);
    transform: none;
  }
}

select {
  font: inherit;
  font-size: -1mfs;
  line-height: -1mlh;
  margin: 0;
  text-transform: none;
}

optgroup {
  font: inherit;
  margin: 0;
}

option {}

textarea {
  border: 0.05vru / solid / var(--color-base);
  border-radius: 0.1vru;
  box-shadow: none;
  color: var(--color-text) var(--color-lite);
  font: inherit;
  font-size: -1mfs;
  line-height: -1mlh;
  margin: 0;
  min-height: 5vru;
  overflow: auto;
  padding: 0.5vru;
  resize: vertical;
  transition:
    background-color var(--transition-duration) var(--transition-easing),
    border-color var(--transition-duration) var(--transition-easing);
  width: 100%;

  &:--enter {
    background: var(--color-back);
    border-color: var(--color-altr);
    outline: 0;
  }

  &:invalid {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0,0h24v24H0V0z"/><path fill="maroon" d="M1,21h22L12,2L1,21z M13,18h-2v-2h2V18z M13,14h-2v-4h2V14z"/></svg>');
    background-position: right 0.2vru top 0.2vru;
    background-repeat: no-repeat;
    background-size: 0.75vru;
    box-shadow: none;
    padding: * 1vru * *;
  }

  &[disabled] {
    border: 0.05vru / solid / transparent;
    box-shadow: none;
    color: var(--color-grey) var(--color-lite);
    transition: none;
  }
}

output {}

progress {
  vertical-align: baseline;
}

meter {
  vertical-align: baseline;
}

fieldset {
  border: 0.05vru / solid / var(--color-base);
  border-image: linear-gradient(135deg, var(--color-base), var(--color-altr)) 1;
  border-radius: 0.1vru;
  margin: 0 0 1vru;
  padding: 0.95vru 0.95vru 1vru;

  & *:last-child {
    margin: * * 0;
  }
}

legend {
  display: table;
  font-size: 1mfs;
  font-weight: light;
  line-height: 1mlh;
  margin: 0 -1vru;
  max-width: 100%;
  padding: 0 1vru;
  white-space: normal;
}
