table {
  border-spacing: 0.05vru 0;
  caption-side: bottom;
  font-size: -1mfs;
  line-height: -1mlh;
  margin: 0 0 1vru;
  size: 100% auto;
}

caption {
  background:
    linear-gradient(
      var(--color-lite),
      var(--color-lite) 0.05vru,
      transparent 0.05vru
    );
  padding: 0 0.5vru;
  text-align: inherit;
}

colgroup {}

col {}

tr {}

td {
  padding: 0.5vru;
}

th {
  padding: 0.5vru;
  text-align: inherit;
}

tbody {
  & tr:nth-child(even) {
    background: var(--color-lite);
  }
}

thead {
  background:
    linear-gradient(
      var(--color-lite),
      var(--color-lite) 0.05vru,
      transparent 0.05vru
    );
  background-position: left 0 bottom 0.05vru;
}

tfoot {
  background:
    linear-gradient(
      var(--color-lite),
      var(--color-lite) 0.05vru,
      transparent 0.05vru,
      transparent 0.1vru,
      var(--color-lite) 0.1vru,
      var(--color-lite) 0.15vru,
      transparent 0.15vru
    );
}
