a {
  border: 0 0 0.1em / solid / transparent;
  border-radius: 0.1em;
  color: var(--color-base);
  position: relative;
  text-decoration: none;
  transition:
    border-color var(--transition-duration) var(--transition-easing),
    color var(--transition-duration) var(--transition-easing);

  &:--enter {
    border-color: var(--color-altr);
    color: var(--color-altr);
    outline: 0;
  }

  &:active {
    border-color: transparent;
    color: var(--color-text);
  }
}

em {}

strong {
  font-weight: bolder;
}

small {
  font-size: -1mfs;
}

s {}

cite {}

q {}

dfn {}

abbr {
  border: 0;
  cursor: help;

  &[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
  }
}

ruby {}

rb {}

rt {}

rtc {}

rp {}

data {}

time {}

code {
  color: var(--color-altr);
  font: -1mfs var(--font-stack-mono);
}

var {}

samp {
  font: -1mfs var(--font-stack-mono);
}

kbd {
  font: -1mfs var(--font-stack-mono);
}

sub {
  font-size: -1mfs;
  line-height: 0;
  position: relative * * -0.25em;
  vertical-align: baseline;
}

sup {
  font-size: -1mfs;
  line-height: 0;
  position: relative -0.5em * *;
  vertical-align: baseline;
}

i {}

b {
  font-weight: bolder;
}

u {}

mark {
  border-radius: 0.1em;
  box-shadow: 0 0 0 0.1em var(--color-altr);
  color: var(--color-back) var(--color-base);
  padding: 0 0.1em;
}

bdi {}

bdo {}

span {}

br {}

wbr {}
