:root {
  --color-backdrop: #fffa;
  --color-background: #fff;
  --color-foreground: #222;
  --color-hyperlinks: #222;
  --font-size: max(1em, 1em + 1vw); /* calc(1em + 1vw) */
  --font-stack: 'maven pro', sans-serif;
  --font-stack-head: var(--font-stack);
  --line-height: 2;
  --vert-rhythm: calc(var(--line-height) * 1rem);
}

*,
::after,
::before {
  box-sizing: border-box;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  background: var(--color-background);
  border-top: 4vh solid var(--color-hyperlinks);
  color: var(--color-foreground);
  cursor: default;
  font: var(--font-size)/var(--line-height) var(--font-stack);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-wrap: break-word;
  tab-size: 2;
  transition:
    background-color 0.15s ease-out,
    border 0.15s ease-out,
    color 0.15s ease-out;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 96vh;
  padding: var(--vert-rhythm) max(var(--vert-rhythm), calc(50% - 18rem));
}

h1 {
  font: 2.488em/calc(var(--vert-rhythm) * 2) var(--font-stack-head);
  margin: 0 0 var(--vert-rhythm);
}

p {
  margin: 0 0 var(--vert-rhythm);
}

a {
  background: linear-gradient(var(--color-hyperlinks), var(--color-hyperlinks)) 0 calc(100% - 0.1em) no-repeat;
  background-size: 100% 0;
  border-radius: 0.2em;
  color: var(--color-hyperlinks);
  font-weight: 500;
  outline: 0;
  padding: 0.2em 0.1em;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.09em;
  touch-action: manipulation;
  transition:
    background-position 0.15s ease-out,
    background-size 0.15s ease-out,
    color 0.15s ease-out,
    text-decoration-color 0.15s ease-out,
    transform 0.15s ease-out;
}

a:focus,
a:hover {
  background-position: 0 100%;
  background-size: 100% 100%;
  color: var(--color-background);
  text-decoration-color: transparent;
}

a:active {
  background: var(--color-foreground);
  color: var(--color-background);
  transition: none;
}

img,
video {
  border-radius: 0.2em;
  height: max(var(--vert-rhythm) * 3, 15vw);
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

figure {
  display: flex;
  flex-flow: column;
  margin: 0 0 var(--vert-rhythm);
  position: relative;
}

figure > a {
  display: block;
  padding: calc(var(--vert-rhythm) * 0.25);
}

figure h2 {
  -webkit-backdrop-filter: blur(0.5em);
  align-items: center;
  background: var(--color-backdrop);
  backdrop-filter: blur(0.5em);
  border-radius: 0.2em;
  bottom: calc(var(--vert-rhythm) * 0.25);
  color: var(--color-foreground);
  display: flex;
  flex-flow: column;
  font: 500 1em/var(--vert-rhythm) var(--font-stack-head);
  justify-content: center;
  left: calc(var(--vert-rhythm) * 0.25);
  margin: 0;
  opacity: 0;
  order: -1;
  padding: calc(var(--vert-rhythm) * 0.5);
  pointer-events: none;
  position: absolute;
  right: calc(var(--vert-rhythm) * 0.25);
  text-align: center;
  top: calc(var(--vert-rhythm) * 0.25);
  transition: opacity 0.15s ease-out;
}

figure:not(:target) h2 a {
  color: inherit;
  text-decoration: none;
}

figure > a:focus + h2,
figure > a:hover + h2 {
  opacity: 1;
}

figcaption {
  font-size: 0.833em;
  line-height: var(--vert-rhythm);
  height: 0;
  overflow: hidden;
}

figure:target > a {
  padding: 0;
}

figure:target h2 {
  bottom: auto;
  left: auto;
  display: inline-block;
  opacity: 1;
  padding: 0;
  pointer-events: all;
  position: inherit;
  right: auto;
  text-align: left;
  top: auto;
}

figure:target img,
figure:target video {
  border-bottom: calc(var(--vert-rhythm) * 0.25) solid var(--color-foreground);
  height: auto;
}

figure:target figcaption {
  height: auto;
  overflow: visible;
}

svg {
  vertical-align: middle;
}

path:not([fill="none"]) {
  fill: var(--color-hyperlinks);
  transition: fill 0.15s ease-out;
}

a:focus path:not([fill="none"]),
a:hover path:not([fill="none"]) {
  fill: var(--color-background);
}

[href="#"] {
  padding: calc(var(--vert-rhythm) * 0.5) 0;
}

[href="#"] svg {
  height: max(var(--vert-rhythm) * 2, 10vw);
  width: auto;
}

@media (hover: none) {
  :root {
    --line-height: 3;
  }

  h1 {
    line-height: var(--vert-rhythm);
  }

  a {
    padding: 0.5em 0.1em;
  }
}

@media (orientation: portrait) {
  html {
    border-top: 0;
    border-left: 4vw solid var(--color-hyperlinks);
  }

  body {
    min-height: 100vh;
  }

  [href="#colorme"] {
    left: 5vw;
    right: auto;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-backdrop: #222a;
    --color-background: #222;
    --color-foreground: #fff;
    --color-hyperlinks: #fff;
  }
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400 500 600 700 800 900;
  font-display: swap;
  src: url(maven-pro/variations.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(maven-pro/variations.woff2) format('woff2-variations'),
    url(maven-pro/400.woff2) format('woff2');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(maven-pro/variations.woff2) format('woff2-variations'),
    url(maven-pro/400.woff2) format('woff2');
}
