{%- if site.github.owner.hireable -%}
  <figure>
    <figcaption>
      <h3>
        {%- include icon/handshake.svg -%}
        Let's work together
      </h3>
      <p>
        I'm taking on new clients. Send me the key details of your project – including scope, timeline, and budget – and
        I'll be in touch.
      </p>
    </figcaption>
    <a href="mailto:me@mgsisk.com">Contact me@mgsisk.com</a>
  </figure>
{%- else -%}
  <figure>
    <figcaption>
      <h3>
        {%- include icon/lightbulb.svg -%}
        What's your creative dream?
      </h3>
      <p>
        I'm not currently taking on new clients, but if you'd like to collaborate send me the key details of your
        project – including scope, timeline, and budget – and I may be in touch.
      </p>
    </figcaption>
    <a href="mailto:me@mgsisk.com">Contact me@mgsisk.com</a>
  </figure>
{%- endif -%}
