body > aside {
  color: var(--color-text) var(--color-lite);
  grid-area: complementary;
  padding: 1vru;

  & hr {
    background-image: linear-gradient(135deg, var(--color-grey), var(--color-grey));
  }

  & > :last-child {
    margin: * * 0;
  }

  @media (--medium) {
    padding: * calc(50% - var(--content-width) / 2 + 1vru);
  }

  @media (--large) {
    border-radius: 0.1vru;
    margin: 1vru *;
    padding: 1vru;
  }
}
