body > nav {
  background:
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 0.15vru,
      color(var(--color-back) alpha(1%)) 0.15vru,
      color(var(--color-back) alpha(1%)) 0.2vru
    );
  clip: rect(0 0 0 0);
  color: var(--color-back) var(--color-text);
  grid-area: navigation;
  margin: -1px;
  overflow: hidden;
  padding: 1vru;
  position: absolute 0;
  size: 1px;
  white-space: nowrap;

  &:target {
    clip: auto;
    margin: 0;
    overflow: auto;
    position: static;
    size: auto;
    white-space: normal;
  }

  & > :last-child {
    margin: * * 0;
  }

  & br {
    display: none;
  }

  & hr {
    background-image: linear-gradient(var(--color-grey), var(--color-grey));
  }

  & h2 {
    font: light 1mfs/1mlh var(--font-stack);
    margin: 1vru * *;
  }

  & a {
    border: 0;
    color: var(--color-grey);
    display: block;
    padding: 0.5vru 0;
    transition:
      color var(--transition-duration) var(--transition-easing),
      text-shadow var(--transition-duration) var(--transition-easing);

    &:--enter {
      border: 0;
      color: var(--color-back);
    }

    &:active,
    &.active {
      color: var(--color-back);
      text-shadow: 0 0 1em var(--color-back);
    }
  }

  @media (--medium) {
    padding: * calc(50% - var(--content-width) / 2 + 1vru);
  }

  @media (--large) {
    padding: * calc(50% - (var(--content-width) + var(--sidebar-width)) / 2 + 1vru);
  }
}

body > [href='#nav'] {
  background:
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 0.15vru,
      color(var(--color-back) alpha(1%)) 0.15vru,
      color(var(--color-back) alpha(1%)) 0.2vru
    );
  border: 0 0.05vru 0.05vru / solid / var(--color-back);
  border-radius: 0 0 0.1vru 0.1vru;
  color: var(--color-back) var(--color-text);
  position: absolute 0.2vru 1vru * *;
  size: 2vru;
  text-indent: -9999px;
  z-index: 98;

  &::after {
    background: var(--color-back);
    content: '';
    position: absolute 33% * * 25%;
    size: 50% 5%;
    transition:
      left var(--transition-duration) var(--transition-easing),
      opacity var(--transition-duration) var(--transition-easing),
      top var(--transition-duration) var(--transition-easing),
      transform var(--transition-duration) var(--transition-easing);
  }

  &::before {
    background: var(--color-back);
    content: '';
    position: absolute 66% * * 25%;
    size: 50% 5%;
    transition:
      left var(--transition-duration) var(--transition-easing),
      opacity var(--transition-duration) var(--transition-easing),
      top var(--transition-duration) var(--transition-easing),
      transform var(--transition-duration) var(--transition-easing);
  }

  &:--enter {
    color: var(--color-back);

    &::after {
      left: 9%;
      top: 50%;
      transform: rotate(45deg);
      width: 50%;
    }

    &::before {
      left: 41%;
      top: 50%;
      transform: rotate(135deg);
    }
  }

  &:active {
    border-color: var(--color-back);

    &::after,
    &::before {
      opacity: 0;
      top: 80%;
    }
  }

  @media (--small) {
    right: 1vru;
  }

  @media (--medium) {
    right: calc(50% - var(--content-width) / 2 + 1vru);
  }

  @media (--large) {
    right: calc(50% - (var(--content-width) + var(--sidebar-width)) / 2 + 1vru);
  }
}

body > [href='#top'] {
  background:
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 0.15vru,
      color(var(--color-back) alpha(1%)) 0.15vru,
      color(var(--color-back) alpha(1%)) 0.2vru
    );
  border: 0;
  border-radius: 0;
  color: var(--color-back) var(--color-text);
  pointer-events: none;
  position: absolute 0.2vru 1vru * *;
  size: 2vru;
  text-indent: -9999px;
  visibility: hidden;
  z-index: 99;

  &::after {
    background: var(--color-back);
    content: '';
    position: absolute 50% * * 25%;
    size: 50% 5%;
    transform: rotate(45deg);
    transition:
      opacity var(--transition-duration) var(--transition-easing),
      transform var(--transition-duration) var(--transition-easing);
  }

  &::before {
    background: var(--color-back);
    content: '';
    position: absolute 50% * * 25%;
    size: 50% 5%;
    transform: rotate(135deg);
    transition:
      opacity var(--transition-duration) var(--transition-easing),
      transform var(--transition-duration) var(--transition-easing);
  }

  &:--enter {
    color: var(--color-back);

    &::after {
      transform: rotate(45deg) scale(1.5);
      width: 50%;
    }

    &::before {
      transform: rotate(135deg) scale(1.5);
    }
  }

  &:active {
    &::after,
    &::before {
      opacity: 0;
    }
  }

  @media (--small) {
    right: 1vru;
  }

  @media (--medium) {
    right: calc(50% - var(--content-width) / 2 + 1vru);
  }

  @media (--large) {
    right: calc(50% - (var(--content-width) + var(--sidebar-width)) / 2 + 1vru);
  }
}

body > nav:target + [href='#top'] {
  pointer-events: inherit;
  visibility: visible;
}
