<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Michael Sisk">
    <meta name="description" property="og:description" content="{{ page.excerpt | replace: 'site.description', site.description | strip_html | truncate: 160 | smartify }}">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>{{ page.title | strip | remove: '\' | smartify }} / {{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove: '/index.html' | remove: '/index' }}">
    <link rel="icon" href="{{ site.baseurl }}/srv/icon.svg">
    <link rel="stylesheet" href="https://use.typekit.net/upg6met.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/srv/style.css">
  </head>
  <body>
    {{ page.title | prepend: '# ' | markdownify }}
    {{ content }}
    <script src="{{ site.baseurl }}/srv/script.js"></script>
  </body>
</html>
