<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Michael Sisk">
    <meta name="description" property="og:description" content="{{ page.excerpt | replace: 'site.description', site.description | strip_html | truncate: 160 | smartify }}">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>{{ page.title | strip | remove: '\' | smartify }} / {{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove: '/index.html' | remove: '/index' }}">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/srv/style.css">
  </head>
  <body>
    {{ page.title | prepend: '# ' | markdownify }}
    {{ content }}
    {% if page.permalink == '/portfolio' %}
      {% for item in site.data.portfolio %}
        <figure id="{{ item.name | slugify }}">
          <figcaption>{{ item.desc | markdownify }}</figcaption>
          {% if item.vid %}
            <a href="#{{ item.name | slugify }}" aria-label="{{ item.name | smartify }}">
              <video data-src="/srv/{{ item.vid }}" autoplay loop muted playsinline data-poster="/srv/{{ item.src }}"></video>
            </a>
          {% else %}
            <a href="#{{ item.name | slugify }}">
              <img data-src="/srv/{{ item.src }}" alt="{{ item.name | smartify }}">
            </a>
          {% endif %}
          <h2>{% if item.url %}<a href="{{ item.url }}">{{ item.name | smartify }}</a>{% else %}{{ item.name | smartify }}{% endif %}</h2>
        </figure>
      {% endfor %}
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24px" width="24px" fill="#000000">
          <title>Back to top</title>
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"/>
        </svg>
      </a>
    {% endif %}
    <script src="{{ site.baseurl }}/srv/script.js"></script>
  </body>
</html>
